#  Tutorial Python For Basic

###  Print

In [1]:
print("Hello World")

Hello World

##  Variable

In [2]:
a = 1

In [3]:
a

1

In [4]:
a, b = 2, 3

In [5]:
b

3

In [6]:
a

2

In [7]:
a, b

(2, 3)

## List

In [9]:
a = [1, 2, 3, "empat", "lima", 6]

In [10]:
a

[1, 2, 3, 'empat', 'lima', 6]

In [11]:
a[0]

1

In [12]:
a[1]

2

In [13]:
a[-1]

6

In [14]:
a[-2]

'lima'

In [15]:
a.append(7)

In [16]:
a

[1, 2, 3, 'empat', 'lima', 6, 7]

In [17]:
len(a)

7

In [18]:
a = []

In [19]:
a

[]

In [20]:
a.append(1)

In [21]:
a

[1]

In [22]:
a.append(2)

In [23]:
a

[1, 2]

## Slicing

`inclusive`:`exclusive`:`step`

In [25]:
a = [0, 1, 2, 3, 4, 5, 6]

In [26]:
a[0:2]

[0, 1]

In [27]:
a[0:5]

[0, 1, 2, 3, 4]

In [28]:
a[3:-2]

[3, 4]

In [29]:
a[:5]

[0, 1, 2, 3, 4]

In [30]:
a[3:]

[3, 4, 5, 6]

In [31]:
a[::2]

[0, 2, 4, 6]

In [32]:
a[1:5:2]

[1, 3]

In [33]:
a[::-1]

[6, 5, 4, 3, 2, 1, 0]

## Join & Split

In [34]:
a = ["cat", "dog", "fish"]

In [35]:
" ".join(a)

'cat dog fish'

In [36]:
", ".join(a)

'cat, dog, fish'

In [37]:
a = "Video ini tentang intro python"

In [39]:
a.split()

['Video', 'ini', 'tentang', 'intro', 'python']

In [40]:
a = "Hari ini, Sarimin pergi ke pasar"

In [42]:
a.split(", ")

['Hari ini', 'Sarimin pergi ke pasar']

## Dictionary

`key`:`value`

In [47]:
a = {"cat": "kucing", 
     "dog": "anjing", 
     "fish": "ikan"}

In [48]:
a["cat"]

'kucing'

In [50]:
a['bird'] = 'burung'

In [51]:
a

{'cat': 'kucing', 'dog': 'anjing', 'fish': 'ikan', 'bird': 'burung'}

In [52]:
a['elephant'] = 'gajah'

In [53]:
a

{'cat': 'kucing',
 'dog': 'anjing',
 'fish': 'ikan',
 'bird': 'burung',
 'elephant': 'gajah'}

In [54]:
a.keys()

dict_keys(['cat', 'dog', 'fish', 'bird', 'elephant'])

In [55]:
a.values()

dict_values(['kucing', 'anjing', 'ikan', 'burung', 'gajah'])

In [56]:
nilai = {"Andi": 40, "Budi": 55, "Caca": 75, "Deddy": 100}

In [57]:
nilai["Andi"]

40

In [58]:
nilai

{'Andi': 40, 'Budi': 55, 'Caca': 75, 'Deddy': 100}

In [59]:
nilai['Deddy'] = 90

In [60]:
nilai

{'Andi': 40, 'Budi': 55, 'Caca': 75, 'Deddy': 90}

## Fungsi

In [61]:
def jumlah(a, b):
    return a+b

In [62]:
jumlah(3, 4)

7

In [63]:
def perkalian(a, b):
    return a*b

In [64]:
perkalian(123, 123)

15129

##  Conditionals

In [65]:
score = 50

In [66]:
if 0 <= score < 60:
    print("Indeks C")
elif 60 <= score < 80:
    print("Indeks B")
elif 80 <= score < 100:
    print("Indeks A")
elif score == 100:
    print("Indeks S")
else:
    print("Nilainya ngaco")

Indeks C

In [68]:
def konversi_ke_indeks(score):
    if 0 <= score < 60:
        return "Indeks C"
    elif 60 <= score < 80:
        return "Indeks B"
    elif 80 <= score < 100:
        return "Indeks A"
    elif score == 100:
        return "Indeks S"
    else:
        return "Nilainya ngaco"

In [71]:
konversi_ke_indeks(-100)

'Nilainya ngaco'

##  Iterasi

In [72]:
numbers = [1, 2, 3, 4, 5, 6]

In [73]:
for n in numbers:
    print(n)

1
2
3
4
5
6

In [74]:
for score in [80, 30, 55, 120]:
    print(konversi_ke_indeks(score))

Indeks A
Indeks C
Indeks C
Nilainya ngaco

In [75]:
for number in numbers:
    print(number**2)

1
4
9
16
25
36

In [76]:
animals = ["Cat", "Fish", "Elephant", "Bird"]

In [77]:
for animal in animals:
    print(animal)

Cat
Fish
Elephant
Bird

In [78]:
for animal in animals:
    print(animal.upper())

CAT
FISH
ELEPHANT
BIRD

In [79]:
for animal in animals:
    print(animal.lower())

cat
fish
elephant
bird

In [83]:
for i in range(2, 5, 2):
    print(i)

2
4

In [84]:
a

{'cat': 'kucing',
 'dog': 'anjing',
 'fish': 'ikan',
 'bird': 'burung',
 'elephant': 'gajah'}

In [85]:
a.keys()

dict_keys(['cat', 'dog', 'fish', 'bird', 'elephant'])

In [87]:
for key in a.keys():
    print(f'Bahasa Indonesia dari {key} adalah {a[key]}')

Bahasa Indonesia dari cat adalah kucing
Bahasa Indonesia dari dog adalah anjing
Bahasa Indonesia dari fish adalah ikan
Bahasa Indonesia dari bird adalah burung
Bahasa Indonesia dari elephant adalah gajah

In [88]:
a = []
for i in range(5):
    a.append(i**2)

In [89]:
a

[0, 1, 4, 9, 16]

## Python Comprehension

In [90]:
a = [i**2 for i in range(5)]

In [91]:
a

[0, 1, 4, 9, 16]

In [92]:
a = {i: i**2 for i in range(5)}

In [93]:
a

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [94]:
# set
{1, 2, 3, 4, 2, 3, 4, 5, 2, 1, 2, 4}

{1, 2, 3, 4, 5}

In [96]:
nilai = [konversi_ke_indeks(score) for score in [20, 40, 80, 30, 10, -5, 105]]

In [97]:
nilai

['Indeks C',
 'Indeks C',
 'Indeks A',
 'Indeks C',
 'Indeks C',
 'Nilainya ngaco',
 'Nilainya ngaco']